body {
    font-family: Arial, Helvetica, sans-serif;
}

#pageHeader {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid lightgrey;
}

#gameContainer {
    margin-top: 100px;
}

.row {
    display: flex;
    justify-content: center;
}

.tile {
    width: 70px;
    height: 70px;
    border: 3px solid lightgrey;
    margin: 3px;
    text-align: center;
    line-height: 70px;
    font-size: 35px;
    font-weight: bold;
}

.keyboard {
    margin: 100px auto;
}

.key {
    width: 50px;
    height: 75px;
    margin: 3px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    background-color: #d3d6da;
    border-radius: 5px;
}

#enter {
    width: 75px;
}

#backspace {
    width: 75px;
    font-size: 25px;
    font-weight: lighter;
}

.intro {
    position: fixed;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    width: 550px;
    height: 700px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.4);

    animation: popup 3s ease-out;
    
}

/* -------------------- Animations ----------------------- */

.loadTilesLeft{
    animation: loadTilesLeft 1.5s ease-out;
}

@keyframes loadTilesLeft {
    0% {
        position: relative;
        left: -1000px;
        opacity: 0;
        transform: scale(0.1);
        /* transform: rotate(0deg); */
    }
    50% {
        position: relative;
        left: 30px;
        opacity: 1;
        transform: scale(1);
        /* transform: rotate(750deg); */
    }
    100% {
        position: relative;
        left: 0px;
        opacity: 1;
        transform: scale(1);
        /* transform: rotate(720deg); */
    }
}
.loadTilesRight {
    animation: loadTilesRight 1.5s ease-out;
}

@keyframes loadTilesRight {
    0% {
        position: relative;
        left: +1000px;
        opacity: 0;
        transform: scale(0.1);
        /* transform: rotate(0deg); */
    }

    50% {
        position: relative;
        left: -30px;
        opacity: 1;
        transform: scale(1);
        /* transform: rotate(-750deg); */
    }

    100% {
        position: relative;
        left: 0px;
        opacity: 1;
        transform: scale(1);
        /* transform: rotate(-720deg); */
    }
}

@keyframes popup {
    0% {
        transform: scale(0) translate(-50%, -50%);
        opacity: 0;
    }
    100% {
        transform: scale(1) translate(-50%, -50%);
        opacity: 1;
     
    }
}

.pulse {
    animation: pulse 0.1s ease;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(0.9);
    }
}

.spin {
    animation: spin 1s ease-in-out;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(720deg);
    }
}

.press {
    animation: press 0.2s;
}

@keyframes press {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(0.9);
        opacity: 0.8;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.shake {
    position: relative;
    animation: shake 0.5s ease-in-out;
}

@keyframes shake {
    0% {
        left: 3px;
    }

    25% {
        left: -6px;
    }

    40% {
        left: 6px;
    }

    50% {
        left: -6px;
    }

    60% {
        left: 6px;
    }

    75% {
        left: -6px;
    }

    100% {
        left: 3px;
    }

}
